table
{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto; /*centrado*/
}

th,td{
    border: 1px solid black;
    padding: 5px 10px;
}

td{
    text-align: right;/*se coorren a la derecha*/
}

th{
    text-transform: capitalize;/*la inical en mayuscula*/
}

.rowPar
{
    background-color: #ddd;
}
.botones,.alta
{
    /*font-family:'Work Sans', sans-serif;*/
}

@font-face 
{
    font-family: 'Anton';
    src: url(./fonts/Anton-Regular.ttf); 
}
header
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario 
{
    flex-direction: column;
    align-items: center;
    font-family: 'Anton';

}


.ventana-modal
{
    display: flex;
    background-image: url('/imagenes/error.png');
}

.seccion-tabla
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner
{
    display: none;
}